<html>
<head>
    <title>buttons</title>
</head>
<body style="background: #fafafa; left:0; top:0">
            <button style="width: 328; height: 44; left:48; top:102; background: #050675; font-family: Family; font-size: 14">Circle Button</button>
            <button style="width: 328; height: 44; left:48; top:187; background: #fcb863; font-family: Family; font-size: 13">Lages lida</button>
            <button style="width: 334; height: 44; left:44; top:15; background: #89b1d2; font-family: Family; font-size: 12">Pe Tela)</button>
            <button style="width: 328; height: 45; left:48; top:272; background: #ebedf2; font-family: Family; font-size: 45"></button>
</body>
</html>